# Compiler output files
cache/
out/
.gas-snapshot
gasreport-fork.ansi
gasreport-local.ansi

# Development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file (for sensitive environment variables)
.env

# IDE and editor settings
.vscode
.DS_Store

# Solidity compiler binary files
soljson*

# Broadcast logs
broadcast

# Node.js dependencies
node_modules

# Coverage report files
coverage
coverage.json

# TypeScript typechain files
typechain
typechain-types

# Hardhat build and cache files
cache_hardhat
artifacts